.fb-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.fb-btn span {
  font-size: 14px;
  font-weight: 700;
  margin-bottom: -3px;
  color: var(--dark-blue);
}

.fb-btn img {
  width: 16px;
  margin-right: 8px;
}

.forgot-pw {
  display: block;
  font-size: 12px;
  margin: 26px 0;
  text-align: center;
  color: var(--dark-blue);
}


